<!-- <mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Add Employee</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Employee Id" [(ngModel)]="user.empId" name="employeeid" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Username" [(ngModel)]="user.name" name="name" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Designation" [(ngModel)]="user.designation" name="designation" required>
                        </mat-form-field>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="DOB" [(ngModel)]="user.dob" name="dob" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Joining Date" [(ngModel)]="user.joiningDate" name="joiningDate" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Salary" [(ngModel)]="user.salary" name="salary" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Termination Date" [(ngModel)]="user.terminationDate" name="terminationDate" required>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </form>

        
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="createEmployee()" color="primary">Create</button>
    </mat-card-actions>
</mat-card>-->



<!-- <div class="col-md-6">
    <h2 class="text-center">Add Employee</h2>
    <form>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="name" [(ngModel)]="user.name" placeholder="Name" name="name" class="form-control" id="name">
        </div>

        <div class="form-group">
            <label for="designation">Designation:</label>
            <input [(ngModel)]="user.designation" placeholder="Designation" name="designation" class="form-control" id="designation">
        </div>

        <div class="form-group">
            <label for="empId">Employee Id</label>
            <input [(ngModel)]="user.empId" placeholder="Employee Id" name="Employee Id" class="form-control" id="employeeid">
        </div>

        <button class="btn btn-success" (click)="createEmployee()" >Create</button>
    </form>
</div>  -->
<form (ngSubmit)="onSubmit()" #heroForm="ngForm" style="width: 50%;margin-left:20%;margin-top: 5%;">
    <div class="form-group" style="line-height: 2em;">
      <label for="name">Employee Id</label>
      <input type="text" class="form-control" id="name" [disabled]="getEditable()" 
             required
             [(ngModel)]="user.empId" name="empId"
             #empId="ngModel" (keypress)="numberOnly($event)" >
      <div [hidden]="empId.valid || empId.pristine"
           class="alert alert-danger" style="color: red;"> 
        Employee Id is required
      </div>
    </div>

    <div style="display: inline-flex; width: 100%;">
    <div class="form-group" style="line-height: 2em;width: 50%;">
        <label for="name">DOB</label>
        <div style="display: inline-flex;width: 100%;">
            <div style="width: 95%;">
                <input type="text" class="form-control" id="dob"
                    required readonly
                    [(ngModel)]="user.dob" name="dob"
                    #dob="ngModel" matInput [matDatepicker]="picker">
            </div>
            <div tyle="width: 5%;">
               <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
               <mat-datepicker #picker></mat-datepicker>
            </div>
        </div>
        <div [hidden]="dob.valid || dob.pristine"
             class="alert alert-danger" style="color: red;">
          DOB is required
        </div>
      </div>

      <div class="form-group" style="line-height: 2em;width: 50%;">
        <label for="name">Joining Date</label>
        <div style="display: inline-flex;width: 100%;">
            <div style="width: 95%;">
                <input type="text" class="form-control" id="joiningDate"
                    required readonly
                    [(ngModel)]="user.joiningDate" name="joininigDate"
                    #joininigDate="ngModel" matInput [matDatepicker]="picker1">
            </div>
            <div tyle="width: 5%;">
               <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
               <mat-datepicker #picker1></mat-datepicker>
            </div>
        </div>
        <div [hidden]="joininigDate.valid || joininigDate.pristine"
             class="alert alert-danger" style="color: red;">
          Joining Date is required
        </div>
      </div>
    </div>

      <div class="form-group" style="line-height: 2em;">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="user.name" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger" style="color: red;">
          Name is required
        </div>
      </div>

    <div class="form-group" style="line-height: 2em;"> 
      <label for="alterEgo">Designation</label>
      <input type="text" class="form-control" id="designation"
             [(ngModel)]="user.designation" name="designation" #designation="ngModel" required>
             <div [hidden]="designation.valid || designation.pristine"
             class="alert alert-danger" style="color: red;"> 
             Designation is required
        </div>
    </div>
    <div class="form-group" style="line-height: 2em;">
        <label for="alterEgo">Employee Type</label>
        <select class="form-control" id="employeeType"
                required
                [(ngModel)]="user.employeeType" name="employeeType"
                #employeeType="ngModel" style="width: 100%;
                height: 35px;
            ">
          <option [value]="'Permanent'">Permanent</option>
          <option [value]="'Temporary'">Temporary</option>
        </select>
       
            <div [hidden]="employeeType.valid || employeeType.pristine"
               class="alert alert-danger" style="color: red;">
               Employee Type is required
          </div>
      </div>
      <div style="display: inline-flex;width: 100%;">
      

      <div class="form-group" style="line-height: 2em;width: 50%;">
        <label for="name">Termination Date</label>
        <div style="display: inline-flex;width: 100%;">
            <div style="width: 95%;">
                <input type="text" class="form-control" id="terminationDate"
                    [(ngModel)]="user.terminationDate" name="terminationDate"
                    #terminationDate="ngModel" matInput [matDatepicker]="picker2" readonly> 
            </div>
            <div tyle="width: 5%;">
               <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
               <mat-datepicker #picker2></mat-datepicker>
            </div>
        </div>
      </div>

      <div class="form-group" style="line-height: 2em;width: 50%;">
        <label for="alterEgo">Salary</label>
        <input type="text" class="form-control" id="salary"
               [(ngModel)]="user.salary" name="salary" #salary="ngModel" required>
               <div [hidden]="salary.valid || salary.pristine"
               class="alert alert-danger" style="color: red;">
               Salary is required
          </div>
      </div>
    </div>
    <!-- <div class="form-group">
      <label for="power">Hero Power</label>
      <select class="form-control" id="power"
              required
              [(ngModel)]="model.power" name="power"
              #power="ngModel">
        <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
      </select>
      <div [hidden]="power.valid || power.pristine" class="alert alert-danger">
        Power is required
      </div>
    </div> -->

    <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">{{buttonText}}</button>
    <!-- <button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">New Hero</button>
    <i>with</i> reset -->

    <!-- &nbsp;&nbsp;
    <button type="button" class="btn btn-default" (click)="newHero()">New Hero</button>
    <i>without</i> reset -->
